<div id="rev_slider_68_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="width: 100%; height: 900px;">
  <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
  <div id="rev_slider_68_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
    <ul>  <!-- SLIDE  -->
      <li data-index="rs-235" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description="">
        <!-- MAIN IMAGE -->
        <img src="../../assets/images/catalog-back.jpg"  alt=""  data-bgposition="center center" data-bgfit="auto" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <div class="tp-caption rs-parallaxlevel-1" 
           id="slide-235-layer-5" 
           data-x="['center','center','center','center']" data-hoffset="['0','50','-70','20']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-5','-5']" 
                data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
     
           data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
           data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"  
          data-responsive_offset="on" 

          
          style="z-index: 1;"><img src="../../assets/images/catalog-back.jpg" alt="" width="3400" height="1101" data-ww="['2779px','2779px','2779px','2779px']" data-hh="['900px','900px','900px','900px']" data-no-retina> 
        </div>

        <div class="tp-caption rs-parallaxlevel-2" 
           id="slide-235-layer-5" 
           data-x="['left','left','left','left']" data-hoffset="['0','-75','50','0']" 
           data-y="['top','top','top','top']" data-voffset="['100','100','330','330']" 
                data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
     
           data-transform_in="x:right;s:1500;e:Power3.easeOut;" 
           data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"  
          data-responsive_offset="on"  
          data-start="300" 

          
          style="z-index: 8;"><img src="../../assets/images/catalog-canister.png" alt="" width="851" height="861" data-ww="['723px','723px','638px','426px']" data-hh="['731px','731px','645px','431px']" data-no-retina> 
        </div>

        <div class="tp-caption rs-parallaxlevel-3" 
           id="slide-235-layer-1" 
           data-x="['right','right','right','right']" data-hoffset="['-350','-350','-350','-350']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
          data-basealign="slide"
     
           data-transform_in="x:right;s:2000;e:Power3.easeOut;" 
           data-transform_out="opacity:0;s:2000;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
          data-responsive_offset="on" 
          data-start="500" 

          
          style="z-index: 29;"><img src="../../assets/images/catalog-front.png" alt="" width="311" height="897" data-ww="['511px','511px','511px','511px']" data-hh="['897px','897px','897px','897px']" data-no-retina> 
        </div>


        <div class="tp-caption article-title title-white tp-resizeme rs-parallaxlevel-0" 
          id="slide-235-layer-7" 
          data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
          data-y="['middle','middle','top','top']" data-voffset="['-210','-210','60','60']" 
          data-fontsize="['25','25','22','22']"
          data-lineheight="['40','40','29','25']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
     
           data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
           data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
          data-start="2000" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 

          
          style="z-index: 11; white-space: nowrap;">{{t "common.hygiene_2"}} <span>{{t "common.solutions"}}</span> 
        </div>

        <div class="tp-caption title-main title-white tp-resizeme rs-parallaxlevel-0" 
          id="slide-235-layer-10" 
          data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
          data-y="['middle','middle','top','top']" data-voffset="['-80','-80','115','120']" 
          data-fontsize="['50','40','45','30']"
          data-lineheight="['57','46','52','37']"
          data-width="['550','450','456','320']"
          data-height="none"
          data-whitespace="normal"
          data-transform_idle="o:1;"
     
          data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
          data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
          data-start="2000" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 

          
          style="z-index: 12; ">Outstanding efficiency and ecofriendly power 
        </div>

        <div class="tp-caption rs-parallaxlevel-0 hero-desription" 
           id="slide-235-layer-9" 
           data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
           data-y="['middle','middle','top','top']" data-voffset="['20','20','230','210']" 
                data-fontsize="['16','16','16','14']"
          data-lineheight="['24','24','24','22']"
          data-width="['448','356','334','277']"
          data-height="['none','none','76','68']"
          data-visibility="['on','on','off','off']"
          data-whitespace="normal"
          data-transform_idle="o:1;"
     
           data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
           data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
          data-start="2000" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 

          
          style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal; text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.45); color: rgba(255, 255, 255, 0.7);">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company. 
        </div>

        <div class="tp-caption rs-parallaxlevel-0" 
           id="slide-235-layer-8" 
           data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
           data-y="['middle','middle','top','top']" data-voffset="['104','104','260','240']" 
                data-width="['550','450','456','420']"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
     
           data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
           data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
          data-start="2000" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
          data-responsive="off"
          
          style="z-index: 14; white-space: nowrap;">
          {{#link-to "catalog" class="button button-red"}}{{t "common.catalog"}}{{/link-to}}
          <div class="button button-transparent button button-download">{{t "common.get_catalog"}}</div>
        </div>
      </li>
    </ul>
    <div class="tp-static-layers">
    </div>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
  </div>
</div>