

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar first"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar last"></span>
      </button>

      {{#link-to "index" class="navbar-brand"}}{{logo-meratech}}{{/link-to}}
    </div>


    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right navbar-lang">
        <li><a href="#" class="active">RU</a></li>
        <li><a href="#">EN</a></li>
      </ul>
      {{search-component}}

      <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to "about"}}О компании{{/link-to}}</li>
          <li>{{#link-to "press-center"}}Пресс-центр{{/link-to}}</li>
          <!--li>{{#link-to "segments"}}Сегменты бизнеса{{/link-to}}</li-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог 
            <span class="caret">
              <span class="icon-bar first"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar last"></span>
            </span></a>
            <ul class="dropdown-menu clearfix">
              {{#link-to "equipment" class="col-md-6 col-sm-6 col-xs-6 catalog-menu-equipment"}}
                <div class="body">
                  Профессиональное<br> оборудование
                </div>
                <div class="button button-red">Узнать больше</div>
              {{/link-to}}
              {{#link-to "catalog" class="col-md-6 col-sm-6 col-xs-6 catalog-menu-solutions"}}
                <div class="body">
                  Средства гигиены<br><br>
                </div>
                <div class="button button-red">Узнать больше</div>
              {{/link-to}}
            </ul>
          </li>
          <li>{{#link-to "contacts"}}Контакты{{/link-to}}</li>
        </ul>
    </div>
  </div>

