
                <div class="news-item news-news">
                  <div class="image">
                    <div class="img" style="background-image: url({{image}})"></div>
                  </div>
                  <div class="date">{{format-date date}}</div>
                  <div class="title">{{title}}</div>
                  <div class="body">{{preview}}</div>
                </div>