<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
  <ul> 
    <li data-index="rs-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_1_.jpg"  data-rotate="0"  data-fstransition="zoomout" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">

      <img src="../../assets/images/slider/slider_1_.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-2" 
         data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">We design and implement innovative hygiene  
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">solutions for all types of food industry facilities. 
      </div>

      {{#link-to 'catalog'}}
      <div class="tp-caption button button-red" 
         id="slide-45-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">{{t "common.details"}} <i class="fa-icon-chevron-right"></i> 
      </div>{{/link-to}}

    </li>

    <li data-index="rs-1-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_10_.jpg"  data-rotate="0"  data-fstransition="zoomout" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">

      <img src="../../assets/images/slider/slider_10_.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Consulting and
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Trainings
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','65']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['500','500','500','500']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">People are the basis of all processes, permanently studying
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','70','70','85']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']"
              data-fontsize="['18','18','18','16']"
              data-width="['500','500','500','500']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">people we influence on the process from the inside.
      </div>

      <div class="tp-caption button button-red" 
         id="slide-45-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="display: none;">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>

    </li>

    <li data-index="rs-1-3" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_11_.jpg"  data-rotate="0"  data-fstransition="zoomout" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">

      <img src="../../assets/images/slider/slider_11_.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="11" class="rev-slidebg" data-no-retina>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"  
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">protection 
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"  
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Agriculture
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','-10','-10','-10']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','15']"
              data-width="['530','530','530','530']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">We believe that everything starts from hygiene, therefore we invent complex
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','15']"
              data-width="['530','530','530','530']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">solutions which allows to achieve high production performance.
      </div>

      <div class="tp-caption button button-red" 
         id="slide-45-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="display: none;">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>

    </li>

    <li data-index="rs-1-13" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_13.jpg"  data-rotate="0"  data-fstransition="zoomout" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">

      <img src="../../assets/images/slider/slider_13.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="11" class="rev-slidebg" data-no-retina>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"  
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">protection 
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"  
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Agriculture
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','-10','-10','-10']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','15']"
              data-width="['530','530','530','530']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">We believe that everything starts from hygiene, therefore we invent complex
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','15']"
              data-width="['530','530','530','530']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">solutions which allows to achieve high production performance.
      </div>

      <div class="tp-caption button button-red" 
         id="slide-45-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="display: none;">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>

    </li>

    <li data-index="rs-2" data-transition="zoomout" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_2_.jpg"  data-rotate="0" data-fstransition="zoomout"  data-saveperformance="off"  data-title="Ken Burns" data-description="">

      <img src="../../assets/images/slider/slider_2_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="103" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-3" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 
        style="z-index: 7; white-space: nowrap;">Industrial 
      </div>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-1" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 
        style="z-index: 5; white-space: nowrap;">engineering 
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-46-layer-7" 
         data-x="['center','center','center','center']" data-hoffset="['40','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">We build automatic reliable hygiene systems
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-46-layer-7" 
         data-x="['center','center','center','center']" data-hoffset="['110','110','110','110']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for every processing circle.
      </div>

      <div class="tp-caption button button-red" 
         id="slide-46-layer-8" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']"  
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
    </li>

    <li data-index="rs-3" data-transition="zoomout" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_4_.jpg"  data-rotate="0" data-fstransition="zoomout" data-saveperformance="off"  data-title="Love it?" data-description="">

      <img src="../../assets/images/slider/slider_4_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-47-layer-3" 
         data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Innovative 
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-47-layer-1" 
         data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']"   
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">disinfection 
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-47-layer-7" 
         data-x="['right','center','center','center']" data-hoffset="['-80','60','60','60']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['500','500','500','500']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Progress never stops and we use all modern chemical 
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-47-layer-7" 
         data-x="['right','center','center','center']" data-hoffset="['15','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','16']"
              data-width="['500','500','500','500']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">inventions to develop powerful and economic disinfection solutions. 
      </div>

      <div class="tp-caption button button-red" 
         id="slide-47-layer-8" 
         data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']"  
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>

    <li data-index="rs-4" data-transition="zoomout" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_6_.jpg"  data-rotate="0"  data-fstransition="zoomout" data-saveperformance="off"  data-title="Love it?" data-description="">


      <img src="../../assets/images/slider/slider_6_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-49-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Research and
      </div>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-49-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Development 
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-49-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','-10','-10','-10']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">For more that 20 years our research lab has been working  
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-49-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','60','60','60']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">to create innovative hygiene products. 
      </div>

      <div class="tp-caption button button-red" 
         id="slide-49-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']"  
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>
    <li data-index="rs-5" data-transition="zoomout" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_7_.jpg"  data-rotate="0"  data-fstransition="zoomout" data-saveperformance="off"  data-title="Love it?" data-description="">

      <img src="../../assets/images/slider/slider_7_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Milk farms 
      </div>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">hygiene 
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','-25','-25','-25']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Being experts in food industry we bring all our best knowledges  
      </div>

      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','50','50','50']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">to improve tons of raw milk quality daily. 
      </div>

      <div class="tp-caption button button-red" 
         id="slide-48-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>

    <li data-index="rs-29" data-transition="zoomout" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_12.jpg"  data-rotate="0"  data-fstransition="zoomout" data-saveperformance="off"  data-title="Love it?" data-description="">

      <img src="../../assets/images/slider/slider_12.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-125','-70','-50']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional 
      </div>


      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-50','5','5']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">laundry 
      </div>



      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','-20','-20','-20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','20','80','80']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Today laundry industry needs effective energy safe technologies,   
      </div>


      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','10','10','10']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','45','105','105']" 
              data-fontsize="['18','18','18','16']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">offer our technology we help them to follow their targets. 
      </div>


      <div class="tp-caption button button-red" 
         id="slide-48-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','500','500','500']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>
  </ul>
  <div class="tp-static-layers"></div>
  <div class="tp-bannertimer"></div>  
</div>