<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
  <ul> 
    <li data-index="rs-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_1_.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_1_.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYERS -->

      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-2" 
         data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-45-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>

    </li>
    <!-- SLIDE  -->
    <li data-index="rs-1-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_10_.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_10_.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYERS -->

      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-2" 
         data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-45-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-45-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-45-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>

    </li>
    <!-- SLIDE  -->
    <li data-index="rs-2" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_2_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_2_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="103" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYERS -->
      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-1" 
         data-x="['center','center','center','center']" data-hoffset="['-140','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-2" 
         data-x="['center','center','center','center']" data-hoffset="['140','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-3" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-46-layer-7" 
         data-x="['center','center','center','center']" data-hoffset="['40','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-46-layer-7" 
         data-x="['center','center','center','center']" data-hoffset="['20','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-46-layer-8" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-3" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_4_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_4_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-47-layer-1" 
         data-x="['right','center','center','center']" data-hoffset="['320','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-47-layer-2" 
         data-x="['right','center','center','center']" data-hoffset="['30','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']"
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-47-layer-3" 
         data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-47-layer-7" 
         data-x="['right','center','center','center']" data-hoffset="['-60','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-47-layer-7" 
         data-x="['right','center','center','center']" data-hoffset="['-25','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-47-layer-8" 
         data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-4" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_6_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_6_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-49-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-49-layer-2" 
         data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-49-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-49-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-49-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-49-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-5" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_7_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_7_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-2" 
         data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-48-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-6" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_8_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_8_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="103" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYERS -->
      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-1" 
         data-x="['center','center','center','center']" data-hoffset="['-140','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-2" 
         data-x="['center','center','center','center']" data-hoffset="['140','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-46-layer-3" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-46-layer-7" 
         data-x="['center','center','center','center']" data-hoffset="['40','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-46-layer-7" 
         data-x="['center','center','center','center']" data-hoffset="['20','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-46-layer-8" 
         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-29" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_9_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
      <!-- MAIN IMAGE -->
      <img src="../../assets/images/slider/slider_9_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

      <!-- LAYER NR. 1 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-1" 
         data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 5; white-space: nowrap;">Hygiene 
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-2" 
         data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="750" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 6; white-space: nowrap;">Solutions 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption meratech-display tp-resizeme" 
         id="slide-48-layer-3" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
              data-fontsize="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="500" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 

        
        style="z-index: 7; white-space: nowrap;">Professional
      </div>


      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="1850" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
      </div>

      <!-- LAYER NR. 7 -->
      <div class="tp-caption meratech-smalltext" 
         id="slide-48-layer-7" 
         data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
              data-fontsize="['18','18','18','18']"
              data-width="['400','400','400','400']"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
   
         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
        data-start="2550" 
        data-splitin="chars" 
        data-splitout="none" 
        data-responsive_offset="off" 
        data-responsive="off"
        data-elementdelay="0.02" 
        
        style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
      </div>

      <!-- LAYER NR. 8 -->
      <div class="tp-caption button button-red" 
         id="slide-48-layer-8" 
         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
         data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
              data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
          data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
   
         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
         data-mask_out="x:inherit;y:inherit;" 
        data-start="2650" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="">Подробнее <i class="fa-icon-chevron-right"></i> 
      </div>
      
    </li>
  </ul>
  <div class="tp-static-layers"></div>
  <div class="tp-bannertimer"></div>  
</div>