

.container{
  padding-bottom: 55px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
.container-fluid {
  overflow: hidden;
  overflow: visible;
}
.container-border{
  border-top: 1px solid rgba(21, 18, 28, 0.06);
}
.container-center{
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1440px;
  }
}

.heading{
  height: 65px;
  .title{
    color: #3b3d3f;
    font-family: "etelka-thin";
    white-space: nowrap;
    visibility: inherit;
    transition: none;
    line-height: 45px;
    margin: 0px;
    padding: 0px;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    span{
      font-family: "etelka-text";
      transition: none;
      line-height: 40px;
      letter-spacing: -1px;
      font-weight: 400;
      font-size: 25px;
    }
    &:before {
      color: #c71e21;
      content: '/';
      font-family: "etelka-text";
      margin-right: 14px;
      font-weight: 900;
      position: relative;
      top: 2px;
    }
  }
  .title.title-dark{
    background-color: rgba(21, 18, 28, 0.73);
    color: #ffffff;
    padding-left: 18px;
    padding-right: 20px;
    height: 50px;
    line-height: 48px;
    font-size: 24px;
  }
  .title.title-dark-alter{
    background-color: rgba(255, 255, 255, 0.03);
    color: #ffffff;
    padding-left: 18px;
    padding-right: 20px;
    height: 50px;
    line-height: 48px;
    font-size: 24px;
  }
  .title.title-offset-top{
    position: relative;
    top: -50px;
  }
  &.heading-black{
    color: rgba(255,255,255,1);
    padding-left: 20px;
    .title{
      color: rgba(255,255,255,1);
    }
    .date{
      border-left: 1px solid rgba(255,255,255,0.4);
      color: rgba(255,255,255,0.4);
    }
  }
  .date{
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
    top: -3px;
  }
  .tip{
    margin-left: 20px;
    position: relative;
    top: 0px;
    font-size: 14px;
  }
}
.container-offset-bottom{
  background-color: inherit;
  position: relative;
  top: 45px;
  z-index: 1;
}
.container-offset-top{
  background-color: inherit;
  position: relative;
  bottom: 45px;
  z-index: 1;
}
.container-offset-top-2x{
  position: relative;
  bottom: 90px;
  z-index: 1;
  padding-bottom: 0px;
}
.container-after-offset{
  padding-top: 90px;
}
.container-white{
  background-color: rgba(255,255,255,1);
}
.container-grey{
  background-color: #f7f7f7;
}
.container-dark{
  background: #3e3e43;
}
.container-dark-dotted{
  background: #3e3e43 url('images/dotted-pattern.png');
}

.news-item{
  .date{
    color: #c71e21;
    font-size: 12px;
    margin-top: 10px;
  }
  .title{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 5px;
    line-height: 18px;
    height: 40px;
    font-family: "etelka-text";
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .body{
    border-left: 2px solid #c71e21;
    padding-left: 15px;
    margin-top: 10px;
    font-family: 'etelka-thin';
    font-size: 13px;
    letter-spacing: -0.03em;
  }
  @media (max-width: 991px){
    padding-right: 30px;
    padding-bottom: 30px;
  }
  @media (max-width: 767px){
    padding-right: 0px;
    padding-bottom: 50px;
  }
}
.subarticle{
  padding-bottom: 100px;
  .title{
    font-size: 36px;
    line-height: 40px;
    color: #4f4d55;
    font-family: "etelka-medium";
    letter-spacing: -0.03em;
    margin-top: 10px;
  }
  .body{
    margin-top: 30px;
    font-family: 'etelka-thin';
    font-size: 13px;
    letter-spacing: -0.03em;
  }
  &.subarticle-short{
    .title{
      padding-right: 200px;
    }
    .body{
      width: 300px;
    }
  }
  .button{
    float: left;
  }
}

.button-link-forward{
  font-family: 'etelka-narrow-text';
  font-size: 12px;
  margin-top: 45px;
  text-transform: uppercase;
  font-weight: 900;
  &:before{
    font-family: 'FontAwesome';
    content: '\f18e';
    margin-right: 8px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: 1px;
  }
}
.article{
  padding-bottom: 60px;
  .title{
    font-size: 48px;
    line-height: 58px;
    color: #4f4d55;
    font-family: "etelka-medium";
    letter-spacing: -0.03em;
    width: 500px;
    margin-top: 15px;
  }
  .body{
    width: 300px;
    margin-top: 30px;
    font-family: 'etelka-thin';
  }
  .link{
    font-family: 'etelka-narrow-text';
    font-size: 12px;
    margin-top: 45px;
    text-transform: uppercase;
    font-weight: 900;
    &:before{
      font-family: 'FontAwesome';
      content: '\f18e';
      margin-right: 8px;
      font-size: 14px;
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }
  .button{
    font-family: 'etelka-text';
    background-color: #b7151d;
    color: #ffffff;
    margin-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    height: 40px;
  }
}
.equipment-main{
  background: #f9fafa url('images/equipment-main-back.jpg');
  background-size: (2920px, 1200px); 
  background-position: center center; 
  .equipment-list{
    height: 215px;
    width: 100%;
    margin-top: 80px;
    @media (max-width: 1599px){
      height: 175px;
    }
    li{
      height: 100%;
      width: 20%;
      float: left;
      background-color: #2e333c;
      text-align: center;
      color: #ffffff;
      position: relative;
      background: #23252a url('images/equipment-assets.jpg');
      background-size: (636px, 1293px); 
      background-repeat: no-repeat;

      @media (max-width: 1599px){
        background-size: (477px, 970px); 
      }
      @media (max-width: 991px){
        width: 33.333333%;
      }
      @media (max-width: 767px){
        width: 50%;
      }
      @media (max-width: 400px){
        width: 100%;
      }
      div{
        background-color: rgba(21, 18, 28, 0.75);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        -webkit-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -moz-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -ms-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
      }
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: 0px;
        font-family: 'FontAwesome';
        content: '\f06e';
        color: #ff4132;
        transform: scale(0,0);
        z-index: 2;
        font-size: 34px;
        -webkit-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -moz-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -ms-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
      }
      span{
        position: absolute;
        font-family: 'etelka-thin';
        font-size: 15px;
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        top: 150px;
        left: 0;
        z-index: 2;
        line-height: 17px;
        -webkit-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -moz-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -ms-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        @media (max-width: 1599px){
          top: 110px;
        }
        @media (max-width: 1199px){
          font-size: 13px;
        }
      }
      &.cleaning_low{
        background-position: center -2px; 
      }
      &.lubrication{
        background-position: center -803px;  
      }
      &.cleaning_high{
        background-position: center -263px; 
      }
      &.co2{
        background-position: center -1063px; 
      }
      &.dosation{
        background-position: center -528px; 
      }
      @media (max-width: 1599px){
        &.cleaning_low{
          background-position: center -1px; 
        }
        &.lubrication{
          background-position: center -596px;  
        }
        &.cleaning_high{
          background-position: center -197px; 
        }
        &.co2{
          background-position: center -795px; 
        }
        &.dosation{
          background-position: center -396px; 
        }
      }
      &:hover{
        div{
          opacity: 1;
          -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        }
        &:before{
          transform: scale(1,1);
          -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        }
        span{
          transform: translate(0,-110px);
        }
      }
    }
  }
}
.video-block{
  .container{
    padding-bottom: 0;
  }
  .video-about{
    text-align: center;
    padding-bottom: 0px; 
    .title{
      width: 100%;
      margin-top: 70px;
    }
    .body{
      width: 400px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .link{
      font-family: 'etelka-narrow-text';
      font-size: 12px;
      margin-top: 45px;
      text-transform: uppercase;
      font-weight: 900;
      &:before{
        font-family: 'FontAwesome';
        content: '\f18e';
        margin-right: 8px;
        font-size: 14px;
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
  }
}

.video-about-block{
  width: 720px;
  height: 439px;
  margin: 50px auto 20px auto;
  padding-bottom: 0px; 
  background: #f9fafa url('images/video.jpg');
  background-size: cover;
  position: relative;
  text-align: center;
  &:after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37px 0 0 -37px;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    content: '\f04b';
    font-family: 'FontAwesome';
    color: #616168;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    padding-left: 5px;
    background: rgba(255,255,255,0.8);
  }
  .button{
    font-family: 'etelka-thin';
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    margin-top: 345px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    height: 40px;
    span{
      color: #b7151d;
      font-family: 'etelka-light';
    }
  }
  &.small{
    width: 500px;
    height: 305px;
    .button{
      margin: 0 auto;
      margin-top: 245px;
    }
  }
}
footer{
  font-family: 'etelka-thin';
  overflow: hidden;
  .container{
    padding-top: 75px;
    padding-bottom: 25px;
    color: rgba(255, 255, 255, 0.8);
    @media (max-width: 991px){
      .alter-layout{
        margin-bottom: 30px;
      }
    }
    @media (max-width: 767px){
      .logo{
        text-align: center;
      }
    }
    .terms{
      margin-top: 60px;
      height: 20px;
      @media (max-width: 991px){
        margin-top: 0;
      }
      @media (max-width: 767px){
        text-align: center;
        margin-top: 30px;
      }
      li{
        float: left;
        margin-right: 20px;
        -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        @media (max-width: 767px){
          float: none;
          display: inline-block;
          margin-right: 10px;
          margin-left: 10px;
        }  
        &:hover{
          opacity: 0.6;
        }
        &:before{
          display: none;
        }
      }
    }
    .link{
      font-family: 'etelka-text';
      font-size: 14px;
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
      @media (max-width: 767px){
        text-align: center;
      }
      .fa{
        color: #ff4132;
        margin-right: 10px;
      }
      &:hover{
        opacity: 0.6;
      }
    }
    .social{
      clear: left;
      margin-top: 15px;
      font-size: 18px;
      height: 20px; 
      @media (max-width: 767px){
        text-align: center;
      }  
      li{
        float: left;
        width: 20px;
        height: 20px;
        margin-right: 30px;
        overflow: hidden;
        display: block;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        @media (max-width: 767px){
          float: none;
          display: inline-block;
          margin-right: 15px;
          margin-left: 15px;
        }  
        &:before{
          display: block;
          color: rgba(255, 255, 255, 1);
          margin-right: 200px;
          margin-left: 1px;
          line-height: 20px;
          font-size: 1.05em;
          -webkit-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -moz-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -ms-transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          transition: 0.175s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        }
        &:hover:before{
          color: #ff4132;
          -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
          transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1) all;
        }
      }
    }
    .address{
      @media (max-width: 991px){
        position: relative;
        left: 30px;
      }
      @media (max-width: 767px){
        text-align: center;
        left: 0;
      }
      &:before{
        font-family: 'FontAwesome';
        content: '\f041';
        color: #ff4132;
        margin-left: -30px;
        font-size: 22px;
        line-height: 14px;
        width: 25px;
        display: block;    
        float: left;
        @media (max-width: 767px){
          float: none;
          margin: 0 auto; 
          margin-bottom: 15px; 
          float: none;
        }
      }
    }
    .phone{
      @media (max-width: 991px){
        position: relative;
        left: 30px;
      }
      font-family: 'etelka-text';
      margin-top: 30px;
      color: rgba(255, 255, 255, 1);
      @media (max-width: 767px){
        text-align: center;
        left: 0;
      }
      &:before{
        font-family: 'FontAwesome';
        content: '\f095';
        color: #ff4132;
        margin-left: -30px;
        font-size: 22px;
        line-height: 14px;
        width: 25px;
        display: block;
        float: left;
        @media (max-width: 767px){
          float: none;
          margin: 0 auto;  
          margin-bottom: 15px; 
          float: none;
        }
      }
    }
    .email{
      @media (max-width: 991px){
        position: relative;
        left: 30px;
      }
      margin-top: 30px;
      @media (max-width: 767px){
        text-align: center;
        left: 0;
      }
      &:before{
        font-family: 'FontAwesome';
        content: '\f003';
        color: #ff4132;
        margin-left: -30px;
        font-size: 18px;
        line-height: 14px;
        width: 25px;
        display: block;
        float: left;
        @media (max-width: 767px){
          float: none;
          margin: 0 auto;  
          margin-bottom: 15px; 
          float: none;
        }
      }
    }
    ul{ 
      @media (max-width: 767px){
        margin-top: 40px;
      }
      li{
      margin-bottom: 13px; 
      color: #fff;
      &:before{
        display: none;
      }
      span{
        color: #ff4132;
      }
      @media (max-width: 767px){
        text-align: center;
      }
    }
    }
    .title{
      font-family: 'etelka-text';
      @media (max-width: 991px){
        padding-top: 30px;
      }
      @media (max-width: 767px){
        text-align: center;
      }
    }
    .body{
      font-family: 'etelka-thin';
      margin-top: 30px;
      color: rgba(255, 255, 255, 0.3);
      font-size: 12px;
      @media (max-width: 767px){
        padding: 0 30px;
      }
      @media (max-width: 767px){
        text-align: center;
      }
    }
    .link.login{
      margin-top: 30px;
      @media (max-width: 991px){
        margin: 30px auto 0 auto;
        text-align: center;
      }
    }
    .copyright{
      margin-top: 50px;
      margin-bottom: 30px;
      width: 450px;
      color: rgba(255, 255, 255, 0.3);
      font-size: 11px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}









.paragraph{
  &.padded{
    padding-right: 60px;
  }
  & > .title{
    font-family: 'etelka-text';
    font-size: 1.45em;
    position: relative;
    margin-bottom: 23px;
    padding-bottom: 23px;
    &:after{
      width: 50px;
      height: 1px;
      background-color: #f1332c;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
    }
  }
  & > .body{
    .subtitle{     
      font-family: 'etelka-text';
      font-size: 1.2em;
      opacity: 0.3;
      margin-bottom: 15px;
    }
    .subbody{     
      margin-bottom: 15px;
    }
    & > dl{
      margin-bottom: 8px;
      dt{
        float: left;
        width: 120px;
        margin-bottom: 4px;
        font-family: 'etelka-text';
        font-size: 1.2em;
        height: 22px;    
        font-weight: 100;
      }
      dd{
        margin-left: 120px;
        margin-bottom: 4px;
        min-height: 22px;
      }
    }
  }
}
.container-dark{
  .paragraph{
    color: #ffffff;
    & > .body, & > table{
      color: #B9B9BB;
    }
  }
}
.container-catalog{
  padding-bottom: 85px;
  .heading{
    margin-bottom: 40px;
  }
}
.container-hero{
  padding-bottom: 100px;
  .heading{
    margin-bottom: 70px;
  }
}
.paragraph{
  table{
    td{
      width: 50%;
      &:last-child{
        font-family: 'etelka-text';
        text-align: right;
      }
    }
  }
}
.circle{
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  position: relative;
  top: 7px;
  margin-left: 15px;
  margin-right: 15px;
  &.circle-yellow{
    background-color: #e0d438;

  }
}









ul.list{
  list-style-type: none;
  li{
    margin-bottom: 12px;
    margin-left: 20px;
    &:before{
      font-family: 'FontAwesome';
      content: '\f054';
      color: #f1332c;
      font-size: 12px;    
      display: block;
      margin-left: -20px;
      float: left;
    }
  }
}

table{
  width: 100%;
  thead{

  }
  tbody{
    tr{
      border-bottom: 1px solid rgba(128,128,128,0.1);
      &:last-child{
        border-bottom: none;
      }
      td{
        line-height: 50px;
      }
    }
  }
}



.package{
  & > div{
    background-size: $assetsImageSize;
    background-image: url($assetsImage);
    height: 185px;
    float: left;
    span{
      margin-top: 150px;
      text-align: center;
      display: block;
      font-family: 'etelka-text';
      font-size: 1.8em;
      color: #ffffff;
      u{
        font-size: 0.6em;
        text-decoration: none;
      }
    }
  }
  .package-canister{
    background-position: 0px -475px;
    width: 100px;
    margin-right: 10%;
  }
  .package-barrel{
    background-position: -165px -475px;
    width: 80px;
    margin-right: 10%;
  }
  .package-cube{
    background-position: -308px -475px;
    width: 160px;
  }
}










.safety-signs{
  .hazard{
    width: 110px;
    height: 110px;
    background-size: $assetsImageSize;
    background-image: url($assetsImage);
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .hazard-c{
    background-position: 0px 0px;
  }
  .hazard-n{
    background-position: -115px 0px;
  }
  .hazard-x{
    background-position: -230px 0px;
  }
  .hazard-xi{
    background-position: 0px -115px;
  }
  .hazard-o{
    background-position: -115px -115px;
  }
  .hazard-f{
    background-position: -230px -115px;
  }
  .hazard-t{
    background-position: -345px -115px;
  }
  .title{
    clear: left;
    font-family: 'etelka-text';
    font-size: 2em;
    margin-bottom: 7px;
  }
  .body{
    font-family: 'etelka-text';
    font-size: 1.1em;
    line-height: 1.3em;
  }
}
.precaution-signs{
  margin-top: 10px;
  .precaution{
    width: 50px;
    height: 50px;
    background-size: $assetsImageSize;
    background-image: url($assetsImage);
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .precaution-gloves{
    background-position: -730px -3px;
  }
  .precaution-suit{
    background-position: -789px -3px;
  }
  .precaution-boots{
    background-position: -848px -3px;
  }
  .precaution-glasses{
    background-position: -907px -3px;
  }
}
.paragraph{
  & > .body{
    .precaution-signs{
      & > .subtitle{     
        font-family: 'etelka-text';
        font-size: 1em;
        opacity: 1;
        margin-bottom: 0px;
        color: #ffffff;
      }
      & > .subbody{     
        margin-bottom: 15px;
      }
    }
  }
}

.catalog-image{
  text-align: right;
  margin-right: 25px;
  img{
    width: 125px;
    height: 175px;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.3);
  }
}
.article-image{
  text-align: right;
  margin-right: 25px;
  img{
    width: 250px;
    height: auto;
  }
}

.documents{
  width: 100%;
  li{
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
    &:before{
      display: block;
      float: left;
      width: 56px;
      height: 79px;
      background-size: 768px 960px;
      background-size: 576px 720px;
      background-size: 384px 480px;
      background-image: url($assetsImage);
      content: '';
    }
    &.registration:before{
      background-position: 0px -90px;
    }
    &.leaflet:before{
      background-position: -56px -90px;
    }
    &.sds:before{
      background-position: -111px -90px;
    }
    &.pds:before{
      background-position: -167px -90px;
    }
    .title{
      margin-left: 70px;
      font-family: 'etelka-text'; 
    }
    .subtitle{
      margin-left: 70px;
    }
    .description{
      margin-left: 70px;
      margin-top: 30px;
      color: #f0332c;
      span{
        color: #a7a9ac;
      }
    }
  }
}
.documents-search{
  width: 100%;
  margin-top: 50px;
  li{
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 50px;
    &:before{
      display: block;
      float: left;
      width: 82px;
      height: 118px;
      background-size: 576px 720px;
      background-image: url($assetsImage);
      content: '';
    }
    &.registration:before{
      background-position: 0px -136px;
    }
    &.leaflet:before{
      background-position: -83px -136px;
    }
    &.sds:before{
      background-position: -168px -136px;
    }
    &.pds:before{
      background-position: -250px -136px;
    }
    .title{
      margin-left: 95px;
      font-family: 'etelka-text';
      font-size: 14px;
    }
    .subtitle{
      margin-left: 95px;
      margin-top: 5px;
      padding-right: 30px;
      height: 40px;
    }
    .description{
      margin-left: 95px;
      margin-top: 30px;
      color: #f0332c;
      span{
        color: #a7a9ac;
      }
    }
  }
}

.centered-input{
  width: 500px;
  margin: 20px auto;
  background-color: rgba(79, 77, 85, 0.2);
  position: relative;
  color: #ffffff;
  &:after{
    position: absolute;
    right: 10px;
    font-family: 'FontAwesome';
    content: '\f002';
    color: #ffffff;    
    z-index: 2;
    top: 4px;
    font-size: 1.7em;
  }
  input{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    letter-spacing: -0.02em;
    padding-left: 12px;
    padding-right: 42px;
    line-height: 42px;
    background-color: transparent;
    color: rgba(21, 18, 28, 0.73);
    &::-webkit-input-placeholder {color: #ffffff;}
    &::-moz-placeholder {color: #ffffff;}
    &:-moz-placeholder {color: #ffffff;}
    &:placeholder {color: #ffffff;}
    &:-ms-input-placeholder {color: #ffffff;}
  }
  button{
    position: absolute;
    background: #ff2120;
    color: #ffffff;
    padding: 9px 20px;
    font-family: 'etelka-medium';
    font-size: 16px;
    right: 0;
    top: 0;
    height: 40px;
    letter-spacing: -0.02em;
  }
  .label{
    position: absolute;
    left: 500px;
    top: 10px;
    font-size: 14px;
    font-family: 'etelka-thin';
    font-weight: 100;
    color: #ddd;
    strong{
      font-family: 'etelka-text';
      color: #fff;
    }
    span{
      font-family: 'etelka-text';
      color: #ff2120;
    }
  }
  &.centered-input-semiwhite{
    background-color: rgba(255, 255, 255, 0.1);
    input{
      color: #ffffff;
      &::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.2);}
      &::-moz-placeholder {color: rgba(255, 255, 255, 0.2);}
      &:-moz-placeholder {color: rgba(255, 255, 255, 0.2);}
      &:placeholder {color: rgba(255, 255, 255, 0.2);}
      &:-ms-input-placeholder {color: rgba(255, 255, 255, 0.2);}
    }
  }
  &.centered-input-media{
    background-color: rgba(255, 255, 255, 0.1);
    input{
      color: #ff2120;
      &::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.2);}
      &::-moz-placeholder {color: rgba(255, 255, 255, 0.2);}
      &:-moz-placeholder {color: rgba(255, 255, 255, 0.2);}
      &:placeholder {color: rgba(255, 255, 255, 0.2);}
      &:-ms-input-placeholder {color: rgba(255, 255, 255, 0.2);}
    }
  }
  &.centered-input-white{
    background-color: #ffffff;
    input{
     color: rgba(21, 18, 28, 0.73);
      &::-webkit-input-placeholder {color: rgba(21, 18, 28, 0.23);}
      &::-moz-placeholder {color: rgba(21, 18, 28, 0.23);}
      &:-moz-placeholder {color: rgba(21, 18, 28, 0.23);}
      &:placeholder {color: rgba(21, 18, 28, 0.23);}
      &:-ms-input-placeholder {color: rgba(21, 18, 28, 0.23);}
    }
    &:after{
      content: none;
    }
  }
}
.tabs-menu-wrapper{
  text-align: center;
  height: 60px;
  & > .tabs-menu{
    display: inline-block;
    margin: 0 auto;
    & > li{
      float: left;
      padding: 0px 60px 0px 60px;
      line-height: 52px;
      font-size: 1.2em;
      letter-spacing: -0.04em;

      @media (max-width: 1199px){
        padding: 0px;
      }
      button{
        background-color: transparent;
        letter-spacing: -0.04em;
        line-height: 1.1em;
        display: block;
        height: 40px;
        margin: 10px 0px 10px 0px;
        padding-left: 20px;
        padding-right: 55px;
        border-radius: 40px;
        position: relative;
        &[aria-expanded="true"]:before{
          display: block;
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          border-style: solid;
          border-width: 0 12px 14px 12px;
          border-color: transparent transparent #4f4d55 transparent;
          left: 50%;
          top: 39px;
          margin-left: -26px;
        }
        &.active{
          background-color: rgba(79, 77, 85, 1);
          color: rgba(255,255,255,0.8);
          &:after{
            font-family: 'FontAwesome';
            content: '\f00d';
            color: #eb3e3a;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 11px;
            font-size: 1.35em;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.radio-set{
  /*--------------- Radio style ---------------*/
  $radio-label-margin: 55px;
  $radio-label-padding-left: 10px;
  $radio-label-before-size: 18px;
  $radio-label-before-color-select: #1565C0;
  $radio-label-before-color-unselect: #E0E0E0;
  $radio-label-after-size: $radio-label-before-size*3;
  $ripple-color: white;
    

  @-webkit-keyframes ripple {
    0%, 100% { opacity: 0; }
    1% { opacity: 1; }
  }

  /* Standard syntax */
  @keyframes ripple {
      0%, 100% { opacity: 0; }
      1% { opacity: 1; }
  }

  .radio-input {
    display: none;
  }
  
  .radio-label {
    position: relative;
    font-family: 'etelka-hairline';
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.5em;
    height: 1.5em;
    color: rgba(255,255,255,0.6);
    margin: $radio-label-margin;
    padding-left: ($radio-label-before-size + $radio-label-padding-left + 20px);  
    letter-spacing: 0;
    &:before, &:after {
      position: absolute;
      content: "";
      border-radius: 50%;
      transition: all .3s ease;
    }
    &:before {
      top: 0;
      left: 0;
      width: $radio-label-before-size;
      height: $radio-label-before-size;
      background-color: $radio-label-before-color-select;
      box-shadow: inset 0 0 0 (($radio-label-before-size / 2)+4) $radio-label-before-color-unselect; 
    }
    &:after {
      top: 0%;
      left: 0%;    
      margin-top: -18px;
      margin-left: -27px;
      left: $radio-label-padding-left - 1px;
      width: $radio-label-after-size;
      height: $radio-label-after-size;
      background-color: rgba($ripple-color, .3);
      transform: scale(0);
    }
  }
  
  .radio-input:checked + .radio-label {
    color: white;
    &:before {
      box-shadow: inset 0 0 0 4px $radio-label-before-color-unselect; 
    }
    &:after {
      transform: scale(1);
      animation: ripple 1s forwards;
    }
  }
}

.page-title{
  text-align: center;
  font-size: 2.8em;
    font-family: 'etelka-medium';
    margin-top: 30px;
    padding-bottom: 30px;
}
.block-title{
  text-align: center;
  font-size: 2.2em;
  font-family: 'etelka-medium';
  margin-top: 50px;
  padding-bottom: 10px;
}
.centered{
  text-align: center;
}