
@font-face {
    font-family: 'etelka-hairline';
    src: url('../fonts/etelkahairline-webfont.eot');
    src: url('../fonts/etelkahairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/etelkahairline-webfont.woff2') format('woff2'),
         url('../fonts/etelkahairline-webfont.woff') format('woff'),
         url('../fonts/etelkahairline-webfont.ttf') format('truetype'),
         url('../fonts/etelkahairline-webfont.svg#etelkahairlineuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'etelka-thin';
    src: url('../fonts/etelkathin-webfont.eot');
    src: url('../fonts/etelkathin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/etelkathin-webfont.woff2') format('woff2'),
         url('../fonts/etelkathin-webfont.woff') format('woff'),
         url('../fonts/etelkathin-webfont.ttf') format('truetype'),
         url('../fonts/etelkathin-webfont.svg#etelkathinuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'etelka-light';
    src: url('../fonts/etelkalightpro-webfont.eot');
    src: url('../fonts/etelkalightpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/etelkalightpro-webfont.woff2') format('woff2'),
         url('../fonts/etelkalightpro-webfont.woff') format('woff'),
         url('../fonts/etelkalightpro-webfont.ttf') format('truetype'),
         url('../fonts/etelkalightpro-webfont.svg#etelka_light_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'etelka-narrow-text';
    src: url('../etelkanarrowtext-webfont.eot');
    src: url('../etelkanarrowtext-webfont.eot?#iefix') format('embedded-opentype'),
         url('../etelkanarrowtext-webfont.woff2') format('woff2'),
         url('../etelkanarrowtext-webfont.woff') format('woff'),
         url('../etelkanarrowtext-webfont.ttf') format('truetype'),
         url('../etelkanarrowtext-webfont.svg#etelka_narrow_text_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'etelka-text';
    src: url('../fonts/etelkatextpro-webfont.eot');
    src: url('../fonts/etelkatextpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/etelkatextpro-webfont.woff2') format('woff2'),
         url('../fonts/etelkatextpro-webfont.woff') format('woff'),
         url('../fonts/etelkatextpro-webfont.ttf') format('truetype'),
         url('../fonts/etelkatextpro-webfont.svg#etelka_text_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meratech';
    src: url('../fonts/meratech-webfont.eot');
    src: url('../fonts/meratech-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meratech-webfont.woff2') format('woff2'),
         url('../fonts/meratech-webfont.woff') format('woff'),
         url('../fonts/meratech-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}