.article-title{
  color: $blackColor;
  font-size: 24px;
  font-family: "etelka-thin";
  &:before{
    color: $mainColor;
    content: '/';
    font-family: "etelka-text";
    margin-right: 14px;
    font-weight: 900;
  }
  span{
    font-family: "etelka-text";
  }
}

.title-main{
  font-family: "etelka-text";
  font-size: 40px;
  letter-spacing: -.02em;
}
.title-white{
  color: #ffffff;
}
.hero-desription{
  font-family: "etelka-light";
  color: rgba(255,255,255,0.8);
}
.equipment-index-hero{
  .article-title{
    text-transform: lowercase;
  }
}