<a href={{link}}>
  <div class="tp-caption button button-red"
    id="slide-45-layer-8"
    data-x={{dataX}}
    data-hoffset="['20','60','80','0']"

    data-y="center" 
    data-voffset="['30','500','500','500']"

    data-width="none"
    data-height="none"
    data-whitespace="nowrap"
    data-transform_idle="o:1;"
    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"

    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
    data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
    data-mask_out="x:inherit;y:inherit;"
    data-start="2650"
    data-splitin="none"
    data-splitout="none"
    data-responsive_offset="on"
    data-responsive="off"
    style="">
    {{t "common.details"}}<i class="fa-icon-chevron-right"></i>
  </div>
</a>