<article class="catalog-details-header">
  <div class="">
    <div class="container container-catalog">
      <div class="row">
        <div class="col-md-5">
          <ul class="use-icons">
            <li class="use-icon-foam"></li>
            <li class="use-icon-brush"></li>
            <li class="use-icon-disinfection"></li>
          </ul>
          <div class="title"><span style="color: #ccb622">Merafoam<sup>&copy;</sup></span> CL</div>
          <div class="body">Щелочное пенное моющее и дезинфицирующее средство с содержанием активного хлора</div>
          <div class="registration">ЕВРАЗЭС <b>RU.40.01.05.015.E.002351.07.11</b> от 06.07.2011</div>
          <div class="ph">pH <span style="color: #ccb622">12,0</span></div>
          <!--div class="button button-transparent button-download"></div-->
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/canister.png">
  <div class="heading heading-bottom"><div class="title title-dark">о продукте</div></div>
</article>
<article class="catalog-block-about">
  <div class="container-white">
    <div class="container container-catalog">
      <div class="heading heading-bottom"></div>
      <div class="row">
        <div class="col-md-3">
          <div class="paragraph padded">
            <div class="title">Применение</div>
            <div class="body">Применяется для автоматической и ручной комбинированной наружной мойки и дезинфекции технологического оборудования на предприятиях птицеперерабатывающей, мясоперерабатывающей, рыбоперерабатывающей, молочной промышленности и животноводческих фермах.
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="paragraph">
            <div class="title">Преимущества</div>
            <div class="body">
              <ul class="list">
                <li>Пена моющего раствора отлично расщепляет жировые и белковые загрязнения</li>
                <li>Эффективно отмывает красители и пригар</li>
                <li>Усовершествованная система доставки агента</li>
                <li>Обладает дезинфицирующим эффектом за счет действия активного хлора.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="paragraph">
            <div class="title">Применение</div>
            <ul class="documents">
              <li class="registration">
                <div class="title">Свидетельство о регистрации</div>
                <div class="description">.pdf <span>(134 kB)</span></div>
              </li>
              <li class="leaflet">
                <div class="title">Информационный лифлет</div>
                <div class="description">.pdf <span>(109 kB)</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="catalog-block-specs">
  <div class="container-grey">
    <div class="container container-catalog">
      <div class="heading heading-top"></div>

      <div class="row">
        <div class="col-md-3">
          <div class="paragraph padded">
            <div class="title">Маркировка</div>
            <div class="body">
              <div class="safety-signs">
                <div class="hazard hazard-c"></div>
                <div class="hazard hazard-n"></div>

                <div class="title">C</div>
                <div class="body">Corrosive<br>Едкое</div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="paragraph padded">
            <div class="title">Безопасность</div>
            <div class="body">
              <div class="subtitle">Фразы риска</div>
              <dl>
                <dt>R 31</dt>
                 <dd>При контакте с кислотами выделяет токсичный газ</dd>
                <dt>R 34</dt>
                 <dd>Вызывает ожоги</dd>
              </dl>
              <div class="subtitle">Фразы безопасности</div>
              <dl>
                <dt>S 2</dt>
                 <dd>Хранить в местах, недоступных для детей</dd>
                <dt>S 26</dt>
                 <dd>В случае попадания в глаза немедленно промыть глаза большим количеством воды и обратиться за медицинской помощью</dd>
                <dt>S 37/39</dt>
                 <dd>Наденьте соответствующие перчатки / Используйте средства защиты глаз/лица</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="paragraph">
            <div class="title">Свойства</div>
            <table>
              <tbody>
                <tr>
                  <td>Консистенция</td>
                  <td>Жидкость</td>
                </tr>
                <tr>
                  <td>Цвет</td>
                  <td><span class="circle" style="background-color: #ccb622"></span>Желтый</td>
                </tr>
                <tr>
                  <td>Плотность</td>
                  <td>1,17</td>
                </tr>
                <tr>
                  <td>Температура хранения</td>
                  <td>+0ºC .. +35ºC</td>
                </tr>
                <tr>
                  <td>pH</td>
                  <td>12,0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="catalog-block-specs-dark">
  <div class="container-dark">
    <div class="container container-catalog">
      <div class="heading heading-top"></div>

      <div class="row">
        <div class="col-md-3">
          <div class="paragraph padded">
            <div class="title">Меры предосторожности</div>
            <div class="body">
              <div class="precaution-signs">
                <div class="precaution precaution-gloves"></div>
                <div class="precaution precaution-suit"></div>
                <div class="precaution precaution-boots"></div>
                <div class="precaution precaution-glasses"></div>

                <div class="subtitle">Защита органов дыхания:</div>
                <div class="subbody">Респиратор или противогаз.</div>
                <div class="subtitle">Защита рук:</div>
                <div class="subbody">Защитные перчатки.</div>
                <div class="subtitle">Защита глаз:</div>
                <div class="subbody">Герметичные, плотно прилегающие очки.</div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="paragraph padded">
            <div class="title">Хранение</div>
            <div class="body">
              <div class="subtitle">Способы хранения</div>
              <div class="subbody">Хранить плотно закрытым в оригинальной упаковке. Не смешивать с другими продуктами. Беречь от замерзания.</div>
              <div class="subtitle">Окружающая среда</div>
              <div class="subbody">Упаковка подходит для вторичного использования. Пустые, промытые емкости можно уничтожать сжиганием. В исходном состоянии классифицируется как раздражитель окружающей среды. </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="paragraph">
            <div class="title">Упаковка</div>
            <div class="body">
              <div class="package">
                <div class="package-canister">
                <span>25<u>кг</u></span>
                </div>
                <div class="package-barrel">
                  <span>220<u>кг</u></span>
                </div>
                <div class="package-cube">
                  <span>1050<u>кг</u></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="container-dark-dotted">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
          <span class="title title-dark-alter">последние релизы</span>
        </div>
        <div class="media-list">
            <div class="col-md-6 hero-item">
              <div class="image product">
                <img src="/assets/images/media/catalog-iso-2.png">
              </div>
              <div class="category">Каталог</div>
              <div class="title">Гигиена пивобезалкогольной промышленности</div>
              <div class="description">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company. </div>
            </div>
            <div class="col-md-3 item">
              <div class="image">
                <img src="/assets/images/media/catalog-2.png">
              </div>
              <div class="category product">Каталог</div>
              <div class="title">Программа мойки поликарбонатных бутылей</div>
            </div>
            <div class="col-md-3 item">
              <div class="image">
                <img src="/assets/images/media/catalog-1.png">
              </div>
              <div class="category company">Каталог</div>
              <div class="title">Новые номера ЕВРАЗЕС Aironit Forte</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="related related-equipment">
  <div class="container-grey">
    <div class="container container-hero">
      <div class="heading heading-top"><div class="title title-dark">связанное оборудование</div></div>

      <div class="row">
        <div class="col-md-6 hero-item">
          <div class="image product">
            <img src="/assets/images/media/catalog-iso-2.png">
          </div>
          <div class="category">Каталог</div>
          <div class="title">Гигиена пивобезалкогольной промышленности</div>
          <div class="description">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company. </div>
        </div>
        <div class="col-md-4">

          <div class="subarticle">
            <div class="title">Explore foam eqipment</div>
            <div class="body">Применяется для автоматической и ручной комбинированной наружной мойки и дезинфекции технологического оборудования на предприятиях птицеперерабатывающей.</div>
            <div class="button button-narrow button-download">Скачать каталог</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="get-catalog hero">
  <div class="container-white">
    <div class="container container-hero">
      <div class="heading heading-top"></div>

      <div class="row">
        <div class="col-md-4">
          <div class="subarticle">
            <div class="title">Get common catalog</div>
            <div class="body">Применяется для автоматической и ручной комбинированной наружной мойки и дезинфекции технологического оборудования на предприятиях птицеперерабатывающей.</div>
            <div class="button button-red">Смотреть каталог</div><div class="button button-transparent button-link">Перейти в медиа-центр</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>