<article class="catalog-header">
  <div class="container-fluid">
    <div class="container">
		<div class="page-title">Оборудование</div>
	</div>
  </div>
</article>
<article class="equipment-1">
    <div class="container-fluid">
	    <div class="container container-after-offset">
	    	<div class="row">
		        <div class="col-md-12">
		        	<div class="article">
			            <div class="title">How performance looks like</div>
			            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! 
			            </div>
		        	</div>
		        </div>
	    	</div>
	    </div>
    </div>
</article>
<article>
    <div class="container-fluid">
	    <div class="container">
	    	<div class="row">
			    <div class="heading heading-top">
			    	<span class="title title-dark">внешняя мойка</span>
			    </div>
		    </div>
		</div>
	</div>
	<div class="container-fluid">
	    <div class="container container-offset-bottom">
		    <div class="row">
		        <div class="col-md-5 col-md-offset-2">
				    <div class="subarticle ">
				        <div class="title">Press releases sweet and seductive</div>
				        <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
				    </div>
			    </div>
			    <div class="col-md-4"></div>
		    </div>
		    <div class="row">
			    <div class="col-md-4 col-md-offset-2"></div>
			    <div class="col-md-5 ">
				    <div class="subarticle ">
				        <div class="title">Press releases sweet and seductive</div>
				        <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
				    </div>
			    </div>
		    </div>
		    <div class="row">
		        <div class="col-md-5 col-md-offset-2">
				    <div class="subarticle ">
				        <div class="title">Press releases sweet and seductive</div>
				        <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
				    </div>
			    </div>
			    <div class="col-md-4"></div>
		    </div>
	    </div>
	</div>
</article>
<article>
	<div class="container-fluid container-grey">
		<div class="container">
	    	<div class="heading heading-top">
		      	<span class="title title-dark">внешняя мойка</span>
		    </div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="col-md-5">
			        	<div class="name-of-mashine">
			        		Системы мойки высокого давления
			        	</div>
			        </div>
			        <div class="col-md-5 col-md-offset-2">
			        	<div class="name-of-mashine">
			        		Системы мойки низкого давления
			        	</div>
			        </div>
			        <div class="col-md-5">
			        	<div class="img-mashine">
			        		
			        	</div>
			        </div>
			        <div class="col-md-5 col-md-offset-2">
			        	<div class="img-mashine">
			        	
			        	</div>
			        </div>
			        <div class="col-md-2 col-md-offset-5">
			        	<div class="button button-red">Подробнее</div>
			        </div>
			    </div>
		    </div>
		</div>
    </div>
</article>

