<article class="catalog-header">
    <div class="container">
		<div class="page-title">Оборудование</div>
  </div>
</article>
<article class="equipment-1">
	    <div class="container container-after-offset">
	    	<div class="row">
		        <div class="col-md-12">
		        	<div class="article">
			            <div class="title">Equipment at it’s best position</div>
			            <div class="body">Позволяют эффективно осуществлять гигиеническую мойку и дезинфекцию внутрицеховых площадей, открытых поверхностей и оборудования в производственных помещениях пищевых производств. Устанавливаются на стену или любую ровную вертикальную поверхность. Подключаются к системе подачи воды под давлением.
			            </div>
		        	</div>
		        </div>
	    	</div>
	    </div>
</article>
<article class="equipment-heros">
	    <div class="container">
		    <div class="heading heading-top">
		    	<span class="title title-dark">дозирующее оборудование</span>
		    </div>
		    <div class="row">
		        <div class="col-md-5 col-md-offset-1">
				    <div class="subarticle ">
				        <div class="title">Системы дозирования моющих растворов</div>
				        <div class="body">Позволяют эффективно осуществлять гигиеническую мойку и дезинфекцию внутрицеховых площадей, открытых поверхностей и оборудования в производственных помещениях пищевых производств. Устанавливаются на стену или любую ровную вертикальную поверхность. Подключаются к системе подачи воды под давлением. </div>
				    </div>
			    </div>
			    <div class="col-md-5 centered">
			    	<img class="prominent" src="/assets/images/equipment/prominent.jpg">
			    </div>
		    </div>
		    <div class="row">
			    <div class="col-md-5 col-md-offset-1">
			    	<img class="grease" src="/assets/images/equipment/grease.jpg">
			    </div>
			    <div class="col-md-5">
				    <div class="subarticle ">
				        <div class="title">Системы дозирования смазки</div>
				        <div class="body">Позволяют эффективно осуществлять гигиеническую мойку и дезинфекцию внутрицеховых площадей, открытых поверхностей и оборудования в производственных помещениях пищевых производств. Устанавливаются на стену или любую ровную вертикальную поверхность. Подключаются к системе подачи воды под давлением. </div>
				    </div>
			    </div>
		    </div>
		    <div class="row">
		        <div class="col-md-5 col-md-offset-1">
				    <div class="subarticle ">
				        <div class="title">Дозаторы для мыла</div>
				        <div class="body">Позволяют эффективно осуществлять гигиеническую мойку и дезинфекцию внутрицеховых площадей, открытых поверхностей и оборудования в производственных помещениях пищевых производств. Устанавливаются на стену или любую ровную вертикальную поверхность. Подключаются к системе подачи воды под давлением. </div>
				    </div>
			    </div>
			    <div class="col-md-5 centered">
			    	<img class="soap" src="/assets/images/equipment/soap.jpg">
			    </div>
		    </div>
	    </div>
</article>
<article class="equipment-dark-hero">
		<div class="container">
	    	<div class="heading heading-top">
		      	<span class="title title-dark">системы мойки</span>
		    </div>
			<div class="row">
		    <div class="col-md-6 item">
        	<div class="title">
        		Системы мойки высокого давления
        	</div>
			    	<img class="soap" src="/assets/images/equipment/satellite.png">
		    </div>
		    <div class="col-md-6 item">
        	<div class="title">
        		Системы мойки низкого давления
        	</div>
			    	<img class="soap" src="/assets/images/equipment/droid.png">
		    </div>
		  </div>
		   <div class="button button-red">Подробнее</div>
		</div>
</article>
<article class="equipment-heros">
	    <div class="container">
		    <div class="heading heading-top">
		    </div>
		    <div class="row">
			    <div class="col-md-5 col-md-offset-1">
			    	<img class="grease" src="/assets/images/equipment/grease.jpg">
			    </div>
			    <div class="col-md-5">
				    <div class="subarticle ">
				        <div class="title">Установки производства диоксида хлора</div>
				        <div class="body">Позволяют эффективно осуществлять гигиеническую мойку и дезинфекцию внутрицеховых площадей, открытых поверхностей и оборудования в производственных помещениях пищевых производств. Устанавливаются на стену или любую ровную вертикальную поверхность. Подключаются к системе подачи воды под давлением. </div><br><br><br><br>
				    </div>
			    </div>
		    </div>
	    </div>
</article>

