

<article class="top-container"><div>
<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
          <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="../../assets/images/slider/slider_1_.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_1_.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-45-layer-1" 
                   data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-45-layer-2" 
                   data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-45-layer-3" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-45-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-45-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-45-layer-8" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>

              </li>
              <!-- SLIDE  -->
              <li data-index="rs-2" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_2_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_2_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="103" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-46-layer-1" 
                   data-x="['center','center','center','center']" data-hoffset="['-140','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-46-layer-2" 
                   data-x="['center','center','center','center']" data-hoffset="['140','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-46-layer-3" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-46-layer-7" 
                   data-x="['center','center','center','center']" data-hoffset="['40','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-46-layer-7" 
                   data-x="['center','center','center','center']" data-hoffset="['20','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-46-layer-8" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-3" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_4_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_4_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-47-layer-1" 
                   data-x="['right','center','center','center']" data-hoffset="['320','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-47-layer-2" 
                   data-x="['right','center','center','center']" data-hoffset="['30','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']"
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-47-layer-3" 
                   data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-47-layer-7" 
                   data-x="['right','center','center','center']" data-hoffset="['-60','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-47-layer-7" 
                   data-x="['right','center','center','center']" data-hoffset="['-25','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-47-layer-8" 
                   data-x="['right','center','center','center']" data-hoffset="['30','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>
                
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-4" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_6_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_6_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-49-layer-1" 
                   data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-49-layer-2" 
                   data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-49-layer-3" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-49-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-49-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-49-layer-8" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>
                
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-5" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_7_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_7_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-48-layer-1" 
                   data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-48-layer-2" 
                   data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-48-layer-3" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-48-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-48-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-48-layer-8" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>
                
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-6" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_8_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_8_.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="103" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-46-layer-1" 
                   data-x="['center','center','center','center']" data-hoffset="['-140','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-46-layer-2" 
                   data-x="['center','center','center','center']" data-hoffset="['140','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-46-layer-3" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-46-layer-7" 
                   data-x="['center','center','center','center']" data-hoffset="['40','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-46-layer-7" 
                   data-x="['center','center','center','center']" data-hoffset="['20','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-46-layer-8" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-29" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider/slider_9_.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider/slider_9_.jpg"  alt=""  data-bgposition="center right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="102" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-48-layer-1" 
                   data-x="['left','center','center','center']" data-hoffset="['-0','-138','-138','-95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap;">Hygiene 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-48-layer-2" 
                   data-x="['left','center','center','center']" data-hoffset="['260','138','138','95']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-105','-60','-60','-97']" 
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">Solutions 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption meratech-display tp-resizeme" 
                   id="slide-48-layer-3" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-175','-135','-135','-145']"  
                        data-fontsize="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">Professional
                </div>


                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-48-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','40','40','40']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-30','15','10','-30']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1850" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">Creating hierarchy within typography is key  
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption meratech-smalltext" 
                   id="slide-48-layer-7" 
                   data-x="['left','center','center','center']" data-hoffset="['5','20','20','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-5','40','30','-10']" 
                        data-fontsize="['18','18','18','18']"
                        data-width="['400','400','400','400']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2550" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-elementdelay="0.02" 
                  
                  style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">for emphasizing the most important messages. 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption button button-red" 
                   id="slide-48-layer-8" 
                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['30','431','91','36']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 0);bc:rgba(139, 192, 39, 1.00);cursor:pointer;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2650" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-46","delay":""}]'
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="">Подробнее <i class="fa-icon-chevron-right"></i> 
                </div>
                
              </li>
            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer"></div>  
          </div>
        <script type="text/javascript">
          var tpj=jQuery;     
          var revapi4;
          tpj(document).ready(function() {
            if(tpj("#rev_slider_4_1").revolution == undefined){
              // revslider_showDoubleJqueryError("#rev_slider_4_1");
            }else{
              revapi4 = tpj("#rev_slider_4_1").show().revolution({
                sliderType:"standard",
                jsFileLocation:"assets/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                  keyboardNavigation:"off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation:"off",
                  onHoverStop:"off",
                  touch:{
                    touchenabled:"on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  }
                  ,
                  arrows: {
                    style: "dione",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    left: {
                      h_align:"left",
                      v_align:"center",
                      h_offset:0,
                      v_offset:0
                    },
                    right: {
                      h_align:"right",
                      v_align:"center",
                      h_offset:0,
                      v_offset:0
                    }
                  }
                },
                viewPort: {
                  enable:true,
                  outof:"pause",
                  visible_area:"100%"
                },
                responsiveLevels:[1240,1024,753,480],
                gridwidth:[980,980,778,480],
                gridheight:[700,600,550,400],
                lazyType:"none",
                parallax: {
                  type:"mouse",
                  origo:"slidercenter",
                  speed:2000,
                  levels:[2,3,4,5,6,7,12,16,10,50],
                },
                shadow:0,
                spinner:"off",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                  simplifyAll:"off",
                  nextSlideOnWindowFocus:"off",
                  disableFocusListener:false,
                }
              });
            }
          }); /*ready*/
        </script>
      </div>
      <ul class="industry-menu">
        <li class="cows">
          <span>Cow breeding</span>
          <div></div>
        </li>
        <li class="chicken">
          <span>Poultry</span>
          <div></div>
        </li>
        <li class="pigs">
          <span>Pig farms</span>
          <div></div>
        </li>
        <li class="meat">
          <span>Meat processing</span>
          <div></div>
        </li>
        <li class="beer">
          <span>Brewery & Soft drinks</span>
          <div></div>
        </li>
        <li class="milk">
          <span>Milk industry</span>
          <div></div>
        </li>
        <li class="laundry">
          <span>Laundry</span>
          <div></div>
        </li>
        </ul>
</article>
  <article>
    <div class="container-fluid container-grey">
    <div class="container">
      <div class="heading heading-top"><div class="title title-dark">news</div></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Новая упаковка и программа Safe Packing</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Meragel Septospray</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button-link-forward">Watch product</div>
          </div>
        </div>      

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Новая упаковка и программа Safe Packing</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Meragel Septospray</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button-link-forward">Watch product</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article>
    <div class="container-fluid container-white">
    <div class="container container-offset-bottom">
      <div class="row">
        <div class="col-md-6 press-center-link">
          <div class="heading heading-top"><div class="title">press <span>center</span></div></div>
          <div class="subarticle subarticle-short">
            <div class="title">Press releases sweet and seductive</div>
            <div class="body">All your dashboards are amazing! So clean<br> and easy to navigate, great job! All your dashboards<br> are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
            <div class="button-link-forward">Watch the video</div>
          </div>
        </div>
        <div class="col-md-6 media-center-link">
          <div class="heading heading-top"><div class="title">documentation</div></div>
          <div class="subarticle subarticle-short">
            <div class="title">Enchance your damn canister of chemshit as hell</div>
            <div class="body">All your dashboards are amazing! So clean<br>  and easy to navigate, great job! All your<br> dashboards are amazing! So clean and easy to navigate,<br> great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
            {{#link-to "media-center" class="button button-red"}}В медиа-центр{{/link-to}}
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article class="equipment-main">
    <div class="container-fluid">
    <div class="container container-after-offset">
      <div class="row">
        <div class="col-md-12">
          <div class="heading heading-top"><div class="title">professional <span>equipment</span></div></div>
          <div class="article">
            <div class="title">How performance looks like</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button button-red">Find product</div>
            <ul class="equipment-list">
              <li class="cleaning_low">
                <span>Системы мойки низкого давления</span>
                <div></div>
              </li>
              <li class="cleaning_high">
                <span>Системы мойки высокого давления</span>
                <div></div>
              </li>
              <li class="lubrication">
                <span>Системы смазки конвейеров</span>
                <div></div>
              </li>
              <li class="co2">
                <span>Установки CO<sub>2</sub></span>
                <div></div>
              </li>
              <li class="dosation">
                <span>Системы дозации</span>
                <div></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>

<article>
        <div id="rev_slider_68_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="width: 100%; height: 900px;">
          <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
          <div id="rev_slider_68_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-235" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/catalog-back.jpg"  alt=""  data-bgposition="center center" data-bgfit="auto" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <div class="tp-caption rs-parallaxlevel-1" 
                   id="slide-235-layer-5" 
                   data-x="['center','center','center','center']" data-hoffset="['0','50','-70','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-5','-5']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"  
                  data-responsive_offset="on" 

                  
                  style="z-index: 1;"><img src="../../assets/images/catalog-back.jpg" alt="" width="3400" height="1101" data-ww="['2779px','2779px','2779px','2779px']" data-hh="['900px','900px','900px','900px']" data-no-retina> 
                </div>

                <div class="tp-caption rs-parallaxlevel-2" 
                   id="slide-235-layer-5" 
                   data-x="['left','left','left','left']" data-hoffset="['0','-75','50','0']" 
                   data-y="['top','top','top','top']" data-voffset="['100','100','330','330']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:right;s:1500;e:Power3.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"  
                  data-responsive_offset="on"  
                  data-start="300" 

                  
                  style="z-index: 8;"><img src="../../assets/images/catalog-canister.png" alt="" width="851" height="861" data-ww="['723px','723px','638px','426px']" data-hh="['731px','731px','645px','431px']" data-no-retina> 
                </div>

                <div class="tp-caption rs-parallaxlevel-3" 
                   id="slide-235-layer-1" 
                   data-x="['right','right','right','right']" data-hoffset="['-350','-350','-350','-350']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-basealign="slide"
             
                   data-transform_in="x:right;s:2000;e:Power3.easeOut;" 
                   data-transform_out="opacity:0;s:2000;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-responsive_offset="on" 
                  data-start="500" 

                  
                  style="z-index: 29;"><img src="../../assets/images/catalog-front.png" alt="" width="311" height="897" data-ww="['511px','511px','511px','511px']" data-hh="['897px','897px','897px','897px']" data-no-retina> 
                </div>


                <div class="tp-caption article-title title-white tp-resizeme rs-parallaxlevel-0" 
                  id="slide-235-layer-7" 
                  data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                  data-y="['middle','middle','top','top']" data-voffset="['-210','-210','60','60']" 
                  data-fontsize="['25','25','22','22']"
                  data-lineheight="['40','40','29','25']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 11; white-space: nowrap;">hygiene <span>solutions</span> 
                </div>

                <div class="tp-caption title-main title-white tp-resizeme rs-parallaxlevel-0" 
                  id="slide-235-layer-10" 
                  data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                  data-y="['middle','middle','top','top']" data-voffset="['-80','-80','115','120']" 
                  data-fontsize="['50','40','45','30']"
                  data-lineheight="['57','46','52','37']"
                  data-width="['550','450','456','320']"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
             
                  data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                  data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 12; ">Outstanding efficiency and ecofriendly power 
                </div>

                <div class="tp-caption rs-parallaxlevel-0 hero-desription" 
                   id="slide-235-layer-9" 
                   data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                   data-y="['middle','middle','top','top']" data-voffset="['20','20','230','210']" 
                        data-fontsize="['16','16','16','14']"
                  data-lineheight="['24','24','24','22']"
                  data-width="['448','356','334','277']"
                  data-height="['none','none','76','68']"
                  data-visibility="['on','on','off','off']"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal; text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.45); color: rgba(255, 255, 255, 0.7);">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company. 
                </div>

                <div class="tp-caption rs-parallaxlevel-0" 
                   id="slide-235-layer-8" 
                   data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                   data-y="['middle','middle','top','top']" data-voffset="['104','104','260','240']" 
                        data-width="['550','450','456','420']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="z-index: 14; white-space: nowrap;">
                  {{#link-to "catalog" class="button button-red"}}Каталог{{/link-to}}
                  <div class="button button-transparent button button-download">Скачать каталог</div>
                </div>
              </li>
            </ul>
            <div class="tp-static-layers">
            </div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
          </div>
        </div><!-- END REVOLUTION SLIDER -->
        <script type="text/javascript">
         
          $(document).ready(function() {
            if($("#rev_slider_68_1").revolution == undefined){
              // revslider_showDoubleJqueryError("#rev_slider_68_1");
            }else{
              revapi68 = $("#rev_slider_68_1").show().revolution({
                sliderType:"hero",
                jsFileLocation:"assets/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                },
                responsiveLevels: [1440, 1340, 753, 480],
                gridwidth:[1320,1024,778,480],
                gridheight:[768,768,897,720],
                lazyType:"none",
                parallax: {
                  type:"mouse+scroll",
                  origo:"slidercenter",
                  speed:1000,
                  levels:[-2,-1,15,0,0,0],
                  disable_onmobile:"on"
                },
                shadow:0,
                spinner:"off",
                autoHeight:"off",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                  simplifyAll:"off",
                  disableFocusListener:false,
                }
              });
            }
          }); /*ready*/
        </script> 
  </article>
  <article class="video-block">
    <div class="container-white">
      <div class="container container-offset-top">
            <div class="article video-about">
              <div class="title">You need to know about us</div>
              <div class="body">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company.  </div>
              
              <div class="video-about-block small">{{#link-to "about" class="button"}}more about <span>meratech</span>{{/link-to}}</div>
            </div>
      </div>
    </div>
  </article>
