  <header class="header">
        {{main-navigation}}</header>

<article class="top-container"><div>
<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
          <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-16" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider-1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme top-slider-title" 
                   id="slide-44-layer-1" 
                   data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-122','-122','-122','-172']" 
                        data-fontsize="['80','80','80','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5; white-space: nowrap; line-height: 80px; color: #fff;     text-shadow: 0px 1px 3px rgba(0,0,0,0.2);">Professional 
                </div>


                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme" 
                   id="slide-44-layer-3" 
                   data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-52']" 
                        data-fontsize="['80','80','80','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="750" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;line-height: 80px; color: #fff;    text-shadow: 0px 1px 3px rgba(0,0,0,0.2);">Hygiene Solutions
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme" 
                   id="slide-44-layer-4" 
                   data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['71','71','71','51']" 
                        data-fontsize="['26','26','26','15']"
                  data-lineheight="['30','30','30','20']"
                  data-fontweight="['100','100','100','400']"
                  data-width="500"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 8; white-space: normal; font-size: 26px;">Creating hierarchy within typography is key for emphasizing the most important messages. 
                </div>

              </li>
              <!-- SLIDE  -->
              <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider-2.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-18-layer-9" 
                   data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                        data-width="500"
                  data-height="140"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                  data-start="2000" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0.50);"> 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-18-layer-1" 
                   data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-fontsize="['70','70','70','45']"
                  data-lineheight="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1000" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  data-elementdelay="0.05" 
                  
                  style="z-index: 6; white-space: nowrap;">Блок с ссылками 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-18-layer-4" 
                   data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">ЧОТКИМИ 
                </div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-19" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider-3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider-3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->


                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-19-layer-1" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-fontsize="['70','70','70','45']"
                  data-lineheight="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1000" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  data-elementdelay="0.05" 
                  
                  style="z-index: 6; white-space: nowrap;">ПУСТО 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-19-layer-4" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;">и стремно 
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-19-layer-8" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-style_hover="cursor:default;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 8; white-space: nowrap;"><i class="pe-7s-ball"></i> 
                </div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-20" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../assets/images/slider-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/slider-2.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-20-layer-1" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-fontsize="['70','70','70','45']"
                  data-lineheight="['70','70','70','50']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1000" 
                  data-splitin="chars" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  data-elementdelay="0.1" 
                  
                  style="z-index: 5; white-space: nowrap;">Картинка увеличивается 
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-20-layer-4" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="1500" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 6; white-space: nowrap;">ненавязчиво и круто 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" 
                   id="slide-20-layer-8" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                    data-style_hover="cursor:default;"
             
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 7; white-space: nowrap;"><i class="pe-7s-diamond"></i> 
                </div>
              </li>
            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer"></div>  
          </div>
        <script type="text/javascript">
          var tpj=jQuery;     
          var revapi4;
          tpj(document).ready(function() {
            if(tpj("#rev_slider_4_1").revolution == undefined){
              // revslider_showDoubleJqueryError("#rev_slider_4_1");
            }else{
              revapi4 = tpj("#rev_slider_4_1").show().revolution({
                sliderType:"standard",
                jsFileLocation:"assets/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                  keyboardNavigation:"off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation:"off",
                  onHoverStop:"off",
                  touch:{
                    touchenabled:"on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  }
                  ,
                  arrows: {
                    style: "dione",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    left: {
                      h_align:"left",
                      v_align:"center",
                      h_offset:0,
                      v_offset:0
                    },
                    right: {
                      h_align:"right",
                      v_align:"center",
                      h_offset:0,
                      v_offset:0
                    }
                  }
                },
                viewPort: {
                  enable:true,
                  outof:"pause",
                  visible_area:"100%"
                },
                responsiveLevels:[1240,1024,778,480],
                gridwidth:[1240,1024,778,480],
                gridheight:[940,600,500,400],
                lazyType:"none",
                parallax: {
                  type:"mouse",
                  origo:"slidercenter",
                  speed:2000,
                  levels:[2,3,4,5,6,7,12,16,10,50],
                },
                shadow:0,
                spinner:"off",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                  simplifyAll:"off",
                  nextSlideOnWindowFocus:"off",
                  disableFocusListener:false,
                }
              });
            }
          }); /*ready*/
        </script>
      </div>
      <ul class="industry-menu">
        <li class="cows">
          <span>Cow breeding</span>
          <div></div>
        </li>
        <li class="chicken">
          <span>Poultry</span>
          <div></div>
        </li>
        <li class="pigs">
          <span>Pig farms</span>
          <div></div>
        </li>
        <li class="meat">
          <span>Meat processing</span>
          <div></div>
        </li>
        <li class="beer">
          <span>Brewery & Soft drinks</span>
          <div></div>
        </li>
        <li class="milk">
          <span>Milk industry</span>
          <div></div>
        </li>
        <li class="laundry">
          <span>Laundry</span>
          <div></div>
        </li>
        </ul>
</article>
  <article>
    <div class="container-fluid container-grey">
    <div class="container">
      <div class="heading heading-top"><div class="title title-dark">news</div></div>
      <div class="row">
        <div class="col-md-3">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Новая упаковка и программа Safe Packing</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Meragel Septospray</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="link">Watch product</div>
          </div>
        </div>
        <div class="col-md-6">.col-md-6</div>
      </div>
    </div>
    </div>
  </article>
  <article>
    <div class="container-fluid container-white">
    <div class="container container-offset-bottom">
      <div class="row">
        <div class="col-md-6">
          <div class="heading heading-top"><div class="title">press <span>center</span></div></div>
          <div class="subarticle">
            <div class="title">Press releases sweet and seductive</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
            <div class="link">Watch the video</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="heading heading-top"><div class="title">documentation</div></div>
          <div class="subarticle">
            <div class="title">Enchance your damn canister of chemshit as hell</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
            <div class="button">Find product</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article class="equipment-main">
    <div class="container-fluid">
    <div class="container container-after-offset">
      <div class="row">
        <div class="col-md-12">
          <div class="heading heading-top"><div class="title">professional <span>equipment</span></div></div>
          <div class="article">
            <div class="title">How performance looks like</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button">Find product</div>
            <ul class="equipment-list">
              <li class="cleaning">
                <span>Системы мойки низкого и высокого давления</span>
                <div></div>
              </li>
              <li class="lubrication">
                <span>Системы конвейерных смазок</span>
                <div></div>
              </li>
              <li class="soap">
                <span>Дозаторы для мыла</span>
                <div></div>
              </li>
              <li class="co2">
                <span>Установки CO<sub>2</sub></span>
                <div></div>
              </li>
              <li class="dosation">
                <span>Системы дозации</span>
                <div></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>

<article>
        <div id="rev_slider_68_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="width: 100%; height: 900px;">
          <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
          <div id="rev_slider_68_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-235" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="../../assets/images/catalog-back.jpg"  alt=""  data-bgposition="center center" data-bgfit="auto" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <div class="tp-caption rs-parallaxlevel-1" 
                   id="slide-235-layer-5" 
                   data-x="['center','center','center','center']" data-hoffset="['0','50','-70','20']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-5','-5']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"  
                  data-responsive_offset="on" 

                  
                  style="z-index: 1;"><img src="../../assets/images/catalog-back.jpg" alt="" width="3400" height="1101" data-ww="['2779px','2779px','2779px','2779px']" data-hh="['900px','900px','900px','900px']" data-no-retina> 
                </div>

                <div class="tp-caption rs-parallaxlevel-2" 
                   id="slide-235-layer-5" 
                   data-x="['left','left','left','left']" data-hoffset="['0','-75','50','0']" 
                   data-y="['top','top','top','top']" data-voffset="['100','100','330','330']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:right;s:1500;e:Power3.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"  
                  data-responsive_offset="on"  
                  data-start="300" 

                  
                  style="z-index: 8;"><img src="../../assets/images/catalog-canister.png" alt="" width="851" height="861" data-ww="['723px','723px','638px','426px']" data-hh="['731px','731px','645px','431px']" data-no-retina> 
                </div>

                <div class="tp-caption rs-parallaxlevel-3" 
                   id="slide-235-layer-1" 
                   data-x="['right','right','right','right']" data-hoffset="['-350','-350','-350','-350']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-basealign="slide"
             
                   data-transform_in="x:right;s:2000;e:Power3.easeOut;" 
                   data-transform_out="opacity:0;s:2000;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-responsive_offset="on" 
                  data-start="500" 

                  
                  style="z-index: 29;"><img src="../../assets/images/catalog-front.png" alt="" width="311" height="897" data-ww="['511px','511px','511px','511px']" data-hh="['897px','897px','897px','897px']" data-no-retina> 
                </div>


                <div class="tp-caption article-title title-white tp-resizeme rs-parallaxlevel-0" 
                  id="slide-235-layer-7" 
                  data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                  data-y="['middle','middle','top','top']" data-voffset="['-210','-210','60','60']" 
                  data-fontsize="['25','25','22','22']"
                  data-lineheight="['40','40','29','25']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 11; white-space: nowrap;">hygiene <span>solutions</span> 
                </div>

                <div class="tp-caption title-main title-white tp-resizeme rs-parallaxlevel-0" 
                  id="slide-235-layer-10" 
                  data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                  data-y="['middle','middle','top','top']" data-voffset="['-80','-80','115','120']" 
                  data-fontsize="['50','40','45','30']"
                  data-lineheight="['57','46','52','37']"
                  data-width="['550','450','456','320']"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
             
                  data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                  data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 12; ">Outstanding efficiency and ecofriendly power 
                </div>

                <div class="tp-caption rs-parallaxlevel-0 hero-desription" 
                   id="slide-235-layer-9" 
                   data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                   data-y="['middle','middle','top','top']" data-voffset="['20','20','230','210']" 
                        data-fontsize="['16','16','16','14']"
                  data-lineheight="['24','24','24','22']"
                  data-width="['448','356','334','277']"
                  data-height="['none','none','76','68']"
                  data-visibility="['on','on','off','off']"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 

                  
                  style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal; text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.45); color: rgba(255, 255, 255, 0.7);">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company. 
                </div>

                <div class="tp-caption rs-parallaxlevel-0" 
                   id="slide-235-layer-8" 
                   data-x="['left','left','left','left']" data-hoffset="['600','480','130','70']" 
                   data-y="['middle','middle','top','top']" data-voffset="['104','104','260','240']" 
                        data-width="['550','450','456','420']"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
             
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" 
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
                  data-start="2000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  data-responsive="off"
                  
                  style="z-index: 14; white-space: nowrap;">
                  <div class="button-default button-red">Каталог</div><div class="button-default button-download">Скачать каталог</div>
                </div>
              </li>
            </ul>
            <div class="tp-static-layers">
            </div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
          </div>
        </div><!-- END REVOLUTION SLIDER -->
        <script type="text/javascript">
         
          $(document).ready(function() {
            if($("#rev_slider_68_1").revolution == undefined){
              // revslider_showDoubleJqueryError("#rev_slider_68_1");
            }else{
              revapi68 = $("#rev_slider_68_1").show().revolution({
                sliderType:"hero",
                jsFileLocation:"assets/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                },
                responsiveLevels: [1440, 1340, 778, 480],
                gridwidth:[1320,1024,778,480],
                gridheight:[768,768,897,720],
                lazyType:"none",
                parallax: {
                  type:"mouse+scroll",
                  origo:"slidercenter",
                  speed:1000,
                  levels:[-2,-1,15,0,0,0],
                  disable_onmobile:"on"
                },
                shadow:0,
                spinner:"off",
                autoHeight:"off",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                  simplifyAll:"off",
                  disableFocusListener:false,
                }
              });
            }
          }); /*ready*/
        </script> 
  </article>
  <article class="video-block">
    <div class="container-fluid container-white">
      <div class="container container-offset-top">
        <div class="row">
          <div class="col-md-12">
            <div class="article video-about">
              <div class="title">You need to know about us</div>
              <div class="body">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company.  </div>
              <div class="video"><div class="button">more about <span>meratech</span></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <footer>
    <div class="container-fluid container-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="logo" href="/">{{logo-meratech}}</a>
            <ul class="terms">
              <li class="link">Privacy Policy</li>
              <li class="link">Terms of Use</li>
            </ul>
            <ul class="social">
              <li class="fa fa-facebook">Facebook</li>
              <li class="fa fa-linkedin-square">Linked In</li>
              <li class="fa fa-skype">Skype</li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="address">
              19 Delovaya st., Nizhny Novgorod<br>
              603093 Russia<br>
              LCC Meratech Rus Group
            </div>
            <div class="phone">
              8 (800) 333-58-88
            </div>
            <div class="email">
              info@meratech.ru
            </div>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Мир <span>meratech</span></li>
              <li>Пресс-центр</li>
              <li>Сегменты бизнеса</li>
              <li>Гигиенические средства</li>
              <li>Оборудование</li>
              <li>Проекты</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="title">Профессиональные гигиенические решения</div>
            <div class="body">На протяжении долгого времени мы разрабатываем и производим самые современные моющие и дезинфицирующие средства для предприятий сельского хозяйства, мясоптицеперерабатывающих и молочных заводов, а также предприятий пивобезалкогольной промышленности. </div>
            <div class="link login"><div class="fa fa-user"></div>Login</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">Copyright © 2006-2015 meratech. All Rights Reserved. All other  trademarks are the property of their respective owners and are used with their permission. </div>
          </div>
        </div>
      </div>
    </div>
  </footer>