

<article class="top-container">
<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
      {{slider-index}}
      <ul class="industry-menu">
        <li class="cows">
          <span>Cow breeding</span>
          <div></div>
        </li>
        <li class="chicken">
          <span>Poultry</span>
          <div></div>
        </li>
        <li class="pigs">
          <span>Pig farms</span>
          <div></div>
        </li>
        <li class="meat">
          <span>Meat processing</span>
          <div></div>
        </li>
        <li class="beer">
          <span>Brewery & Soft drinks</span>
          <div></div>
        </li>
        <li class="milk">
          <span>Milk industry</span>
          <div></div>
        </li>
        <li class="laundry">
          <span>Laundry</span>
          <div></div>
        </li>
        </ul>
</article>
  <article>
    <div class="container-fluid container-grey">
    <div class="container">
      <div class="heading heading-top"><div class="title title-dark">news</div></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Новая упаковка и программа Safe Packing</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Meragel Septospray</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button-link-forward">Watch product</div>
          </div>
        </div>      

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Новая упаковка и программа Safe Packing</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="news-item news-main">
            <div class="date">01 апреля 2016</div>
            <div class="title">Meragel Septospray</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button-link-forward">Watch product</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article>
    <div class="container-fluid container-white">
    <div class="container container-offset-bottom">
      <div class="row">
        <div class="col-md-6 press-center-link">
          <div class="heading heading-top"><div class="title">press <span>center</span></div></div>
          <div class="subarticle subarticle-short">
            <div class="title">Press releases sweet and seductive</div>
            <div class="body">All your dashboards are amazing! So clean<br> and easy to navigate, great job! All your dashboards<br> are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
            <div class="button-link-forward">Watch the video</div>
          </div>
        </div>
        <div class="col-md-6 media-center-link">
          <div class="heading heading-top"><div class="title">documentation</div></div>
          <div class="subarticle subarticle-short">
            <div class="title">Enchance your damn canister of chemshit as hell</div>
            <div class="body">All your dashboards are amazing! So clean<br>  and easy to navigate, great job! All your<br> dashboards are amazing! So clean and easy to navigate,<br> great job! All your dashboards are amazing! So clean and easy to navigate, great job!</div>
            {{#link-to "media-center" class="button button-red"}}В медиа-центр{{/link-to}}
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article class="equipment-main">
    <div class="container-fluid">
    <div class="container container-after-offset">
      <div class="row">
        <div class="col-md-12">
          <div class="heading heading-top"><div class="title">professional <span>equipment</span></div></div>
          <div class="article">
            <div class="title">How performance looks like</div>
            <div class="body">All your dashboards are amazing! So clean and easy to navigate, great job! All your dashboards are amazing! </div>
            <div class="button button-red">Find product</div>
            <ul class="equipment-list">
              <li class="cleaning_low">
                <span>Системы мойки низкого давления</span>
                <div></div>
              </li>
              <li class="cleaning_high">
                <span>Системы мойки высокого давления</span>
                <div></div>
              </li>
              <li class="lubrication">
                <span>Системы смазки конвейеров</span>
                <div></div>
              </li>
              <li class="co2">
                <span>Установки CO<sub>2</sub></span>
                <div></div>
              </li>
              <li class="dosation">
                <span>Системы дозации</span>
                <div></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>

<article>
  {{hero-index}} 
</article>
<article class="video-block">
  <div class="container-white">
    <div class="container container-offset-top">
          <div class="article video-about">
            <div class="title">You need to know about us</div>
            <div class="body">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company.  </div>
            
            <div class="video-about-block small">{{#link-to "about" class="button"}}more about <span>meratech</span>{{/link-to}}</div>
          </div>
    </div>
  </div>
</article>
