<article class="not-found">
  {{#link-to "index" class="navbar-brand"}}{{logo-meratech}}{{/link-to}}
  <div class="page-title">{{t "common.page_not_found.title"}}</div>
  <div class="page-body content-block">{{t "common.page_not_found.body"}}</div>
</article>