<article class="news-header">
  <div class="container">
		<div class="page-title title">Пресс-центр</div>
		<div class="body controls">
			<div class="select-wrapper news-select-wrapper">looking for
      <div class="dropup news-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">everything 
          </a>
          <ul class="dropdown-menu clearfix">
            <li>events</li>
            <li>products</li>
            <li>clients</li>
            <li>company</li>
          </ul>
        </div>
			</div>
		</div>
	</div>
</article>
<article class="container-grey">
	<div class="container container-offset-top-2x">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top heading-black">
        	<span class="title">новости</span>
					<span class="date">Tuesday, September 22, 2015</span>
					<span class="btn-archive">News archive</span>
        </div>
        <div class="news-list">
            <div class="col-md-3 item">
            	<div class="image product">
            		<img src="/assets/images/news/news-1.jpg">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
              <div class="description">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois.</div>
            </div>
            <div class="col-md-3 item">
            	<div class="image">
                <img src="/assets/images/news/news-2.jpg">
            	</div>
              <div class="category product">Продукт</div>
              <div class="title">Программа мойки поликарбонатных бутылей</div>
              <div class="date">10 days ago</div>
              <div class="description">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois.</div>
            </div>
            <div class="col-md-3 item">
            	<div class="image">
                <img src="/assets/images/news/news-4.jpg">
            	</div>
              <div class="category clients">Клиентам</div>
              <div class="title">Agristeryl и программа гигиены птицефабрики</div>
              <div class="date">1 month ago</div>
              <div class="description">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois.</div>
            </div>
            <div class="col-md-3 item">
            	<div class="image">
                <img src="/assets/images/news/news-5.jpg">
            	</div>
              <div class="category company">Компания</div>
              <div class="title">Новые номера ЕВРАЗЕС Aironit Forte</div>
              <div class="date">2 months ago</div>
              <div class="description">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
          <span class="title title-dark">статьи</span>
          <span class="btn-archive">All articles</span>
        </div>
        <div class="articles-list">
          <div class="col-md-6 item">
            <img src="/assets/images/articles/articles-1.png">
            <div class="wrapper">
              <div class="title">Паразитарные заболевания в птицеводстве</div>
                <div class="divider"></div>
              <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
              <span class="button button-learnmore button-narrow">Learn more</span>
            </div>
          </div>
          <div class="col-md-6 item">
            <img src="/assets/images/articles/articles-2.png">
            <div class="wrapper">
              <div class="title">Здоровое потомство на свиноферме</div>
                <div class="divider"></div>
              <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
              <span class="button button-learnmore button-narrow">Learn more</span>
            </div>
          </div>
        </div>
        <div class="articles-archive-list">
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-2.png">
              <div class="wrapper">
                <div class="title">Паразитарные заболевания в птицеводстве</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-1.png">
              <div class="wrapper">
                <div class="title">Здоровое потомство на свиноферме</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-1.png">
              <div class="wrapper">
                <div class="title">Паразитарные заболевания в птицеводстве</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-2.png">
              <div class="wrapper">
                <div class="title">Здоровое потомство на свиноферме</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-2.png">
              <div class="wrapper">
                <div class="title">Паразитарные заболевания в птицеводстве</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-1.png">
              <div class="wrapper">
                <div class="title">Здоровое потомство на свиноферме</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-1.png">
              <div class="wrapper">
                <div class="title">Паразитарные заболевания в птицеводстве</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
            <div class="col-md-6 item">
              <img src="/assets/images/articles/articles-2.png">
              <div class="wrapper">
                <div class="title">Здоровое потомство на свиноферме</div>
                <div class="body">Ranger vos livres dans une ruche, c'est maintenant possible avec ces très beaux guéridons blancs en bois qui prennent la forme des maisons d'abeilles.</div>
                <span class="button button-learnmore button-narrow">Learn more</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</article>
<!--article class="news-header-search">
  <div class="container-fluid">
    <div class="container">
      <div class="page-title title">Пресс-центр <span class="red">поиск</span></div>
      <div class="body controls">
        <div class="centered-input centered-input-semiwhite">
          <input placeholder="Search by phrase">
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="select-wrapper">search archive for 
              <div class="dropdown news-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">everything 
                </a>
                <ul class="dropdown-menu clearfix">
                  <li>events</li>
                  <li>products</li>
                  <li>clients</li>
                  <li>company</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="select-wrapper">related to
              <div class="dropdown news-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">meat processing 
                </a>
                <ul class="dropdown-menu clearfix">
                  <li>meat processing</li>
                  <li>cow breeding</li>
                  <li>pig farms</li>
                  <li>poultry</li>
                  <li>milk processing</li>
                  <li>brewery and beverages</li>
                  <li>laundry</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="select-wrapper">from year
              <div class="dropdown news-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2014 
                </a>
                <ul class="dropdown-menu clearfix">
                  <li>2016</li>
                  <li>2015</li>
                  <li>2014</li>
                  <li>2013</li>
                  <li>2012</li>
                  <li>2011</li>
                  <li>2010</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article-->
<article class="container-grey">
  <div class="container-fluid">
    <div class="container">
      <div class="block-title title">Stay updated</div>
      <div class="body centered">
        Get the latest news from meratech about products, events and company.
        <div class="centered-input centered-input-white">
          <input placeholder="Search by phrase">
          <button>Sign up</button>
        </div>
      </div>
    </div>
  </div>
</article>
