<article class="news-header">
  <div class="container-fluid">
    <div class="container">
			<div class="page-title">Press Center</div>
			<div class="body controls">
				<div class="select-wrapper">looking for
					<div class="select">
						<ul>
							<li>events</li>
							<li>products</li>
							<li>clients</li>
							<li>company</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
<article>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
        	<span class="title">news</span>
					<span class="date"></span>
					<span class="btn-archive"></span>
        </div>
        <div class="news-list">
          <ul>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
