<section class="news-header">
	<div class="page-title">Press Center</div>
	<div class="body controls">
		<div class="select">looking for
			<select>
				<option>events</option>
				<option>products</option>
				<option>clients</option>
				<option>company</option>
			</select>
		</div>
	</div>
</section>
<article>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
        	<span class="title">news</span>
					<span class="date"></span>
					<span class="btn-archive"></span>
        </div>
        <div class="news-list">
          <ul>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
            <li>
            	<div class="image">
            		<img src="">
            	</div>
              <div class="category">Продукт</div>
              <div class="title">Meragel Septospray</div>
              <div class="date">yesterday</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
